Repository SergeyKaef/tetris_game, pull requests merged in 2024-12, with the labels that each got.

#14 Updated link
  README.md
Labels: documentation

#17 Added documentation
  README.md
  ТЗ.md
Labels: documentation, Tetris project task

#20 Добавлен файл .gitignore и инициализирован начальный проект
  .gitignore
  Tetris.sln
  Tetris/App.config
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
  Tetris/Form1.resx
  Tetris/Program.cs
  Tetris/Properties/AssemblyInfo.cs
  Tetris/Properties/Resources.Designer.cs
  Tetris/Properties/Resources.resx
  Tetris/Properties/Settings.Designer.cs
  Tetris/Properties/Settings.settings
  Tetris/Tetris.csproj
Labels: Tetris project task

#21 Добавлена инициализация поля
  Tetris.sln
  Tetris/Form1.Designer.cs
Labels: Tetris project task

#22 Регистрация
  Tetris/Controllers/MapController.cs
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
  Tetris/Shape.cs
  Tetris/Tetris.csproj
Labels: Tetris project task

#23 Добавлена механика управления фигурами
  Tetris/Controllers/MapController.cs
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
Labels: Tetris project task

#24 Добавлена система подсчета очков
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
Labels: Tetris project task

#25 Управление меню
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
Labels: Tetris project task

#26 Добавлена смена темы приложения
  Tetris/Form1.Designer.cs
  Tetris/Form1.cs
Labels: Tetris project task
